%flex-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

%flex-column {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

%image {
  background-position: center center;
  background-repeat: no-repeat;
}