// FONTS

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Oswald&family=Pacifico&family=Roboto:wght@300&display=swap');

$font-logo: 'Great Vibes', cursive; //400
$font-title: 'Pasifico', cursive; //400
$font-primary: 'Oswald', sans-serif; //300, 400, 600
$font-secundary: 'Roboto', sans-serif; //300, 400, 500, 700

//COLORS

$color-blue-1: #0eb2e9;